appdirs==1.4.4
asgiref==3.2.10
attrs==20.2.0
beautifulsoup4==4.9.1
cached-property==1.5.1
captcha==0.3
certifi==2020.6.20
chardet==3.0.4
defusedxml==0.6.0
distlib==0.3.1
Django==3.1
django-appconf==1.0.4
django-ckeditor==5.9.0
django-compressor==2.4
django-htmlmin==0.11.0
django-jalali==4.0.0
django-js-asset==1.2.2
django-recaptcha==2.0.6
django-render-partial==0.4
filelock==3.0.12
html5lib==1.1
idna==2.10
isodate==0.6.0
jdatetime==3.6.2
lxml==4.5.2
Pillow==7.2.0
python-memcached==1.59
pytz==2020.1
rcssmin==1.0.6
requests==2.24.0
requests-toolbelt==0.9.1
rjsmin==1.1.0
six==1.15.0
sorl-thumbnail==12.6.3
soupsieve==2.0.1
sqlparse==0.3.1
urllib3==1.25.10
virtualenv==20.0.31
webencodings==0.5.1
zeep==3.4.0
